<div class="wrapper">
  <div class="login">
    <h1>Login</h1>
    <div class="inputs">
      <div>
        <label for="email_login">Enter email</label>
        <input id="email_login" type="email">
      </div>
      <div>
        <label for="password_login">Enter password</label>
        <input id="password_login" type="password">
      </div>
      <button>Login</button>
    </div>
  </div>

  <div class="signup">
    <h1>Sign-Up</h1>
    <div class="inputs">
      <div>
        <label for="name">Enter nickname</label>
        <input id="name" type="text">
      </div>
      <div>
        <label for="email">Enter email</label>
        <input id="email" type="email">
      </div>
      <div>
        <label for="password">Enter password</label>
        <input id="password" type="password">
      </div>
      <div>
        <label for="confirmPassword">Confirm Password</label>
        <input id="confirmPassword" type="password">
      </div>
      <button>Sign-Up</button>
    </div>
  </div>
</div>
